@import "./variables.scss";
.Contact {
  background-color: $white;
  padding: 45px 0 40px 0;
  text-align: center;
  h4 {
    text-align: left;
    max-width: 600px;
    display: inline-block;
  }
  button {
    margin: 5px 12.5px;
  }

  .buttons {
    position: relative;
    top: 25px;
  }

  @media only screen and (max-width: 900px) {
    padding: 15px 0 40px 0;
  }
}
