@import "./variables.scss";
.Landing {
  height: 100vh;
  max-width: 100%;
  position: relative;
  .img {
    background-image: url("../public/images/bark.webp");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .landing-info {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40vh;
  }

  h1 {
    margin-bottom: 25px;
  }

  video {
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  button {
    max-width: 395px;
    height: 50px;
    font-weight: bold;
    font-size: 1.2rem;
  }
}
