@import "./variables.scss";
.Portfolio {
  background-color: $white;
  padding: 35px 0 30px 0;

  .container {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .information {
    position: relative;
    top: 25%;
  }

  .information {
    // margin-bottom: 100px;
  }

  .portfolio-img {
    max-width: 32vw;
    height: auto;
  }

  @media only screen and (max-width: 900px) {
    .portfolio-img {
      max-width: 92vw;
      height: auto;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
}
