@import "./variables.scss";
.Portfolio {
  color: $white;
  .img {
    padding: 50px 0;
    background-image: url("../public/images/bark.webp");
    // min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .carousel {
    width: 35vw;
    height: auto;
  }

  .carousel-img {
    width: 35vw;
    height: auto;
  }
  .container {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .information {
    position: relative;
    top: 25%;
  }

  .information {
    // margin-bottom: 100px;
  }

  .portfolio-img {
    max-width: 32vw;
    height: auto;
  }

  @media only screen and (max-width: 900px) {
    .carousel {
      width: 80vw;
      height: auto;
      margin: 0 auto;
    }

    .carousel-img {
      width: 80vw;
      height: auto;
      margin: 0 auto;
    }
    .portfolio-img {
      max-width: 92vw;
      height: auto;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
}
